.underscore {
    color: steelblue;
    text-decoration: underline;
    padding: 0 15px;
    text-align: center;
}
.underscore:hover {
    cursor: pointer;
    background-color: darkgray;
}

.pagination {
    margin: 10px auto;
}

.editFormBox {
    border: 1px solid silver;
    padding: 10px;
    width: max-content;
}

.editFormBox input {
    margin-left: 10px;
}

.mainContent {
    background-color: white !important;
}


.authPage {
    width: max-content;
    margin: 250px auto;
    text-align: left;
}

.authPage input {
    margin-left: 10px;
}

.searchBox {
    width: max-content;
    border: 1px solid silver;
    padding: 15px 30px;
    background-color: #E9EDEF;
}

.searchBox button {
    margin-right: 10px;
    background-color: steelblue;
}
