.underscore {
    color: steelblue;
    text-decoration: underline;
    padding: 0 15px;
    text-align: center;
}
.underscore:hover {
    cursor: pointer;
    background-color: darkgray;
}

.pagination {
    margin: 10px auto;
}

.editFormBox {
    border: 1px solid silver;
    padding: 10px;
    width: max-content;
}

.editFormBox input {
    margin-left: 10px;
}